.imageOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.imageOverlay > img {
  display: block;
  border-radius: 20px;
}

.imageOverlay:hover > img {
  opacity: 0.5;
}

.imageOverlay > figcaption {
  width: 580px;
  height: 380px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  border-radius: 15px;
}

.imageOverlay:hover > figcaption {
  opacity: 1;
  width: 540px;
  height: 340px;
  transition:
    width 1s,
    height 1s;
}

.title {
  font-size: 28px;
  font-weight: 800;
  opacity: 0;
}

.description {
  font-size: 14px;
  margin-top: 15px;
  transform: translateY(100px);
  opacity: 0;
}

.imageOverlay:hover .description {
  transform: translateY(0);
}

.imageOverlay:hover .title,
.imageOverlay:hover .description {
  opacity: 1;
  transition: all ease 1.5s;
}

@media screen and (max-width: 640px) {
  .imageOverlay > img {
    width: 400px;
    height: 300px;
  }

  .imageOverlay > figcaption {
    width: 380px;
    height: 280px;
  }

  .imageOverlay:hover > figcaption {
    width: 360px;
    height: 260px;
  }
}
