.introSkillsSection {
  background: rgb(173, 190, 200);
  width: 100%;
  height: 900px;
}

.title {
  text-align: center;
  margin-bottom: 150px;
  font-size: 70px;
  color: white;
  letter-spacing: 3px;
  padding-top: 100px;
}

.boxWrapper {
  position: relative;
  width: 900px;
  margin: 0 auto;
}

.boxTitle {
  position: absolute;
  top: -16px;
  left: 25px;
  padding: 5px 20px;
  font-size: 20px;
  box-shadow: 0px 0 25px 5px rgba(0, 0, 0, 0.1);
  background: rgb(173, 190, 200);
  color: #f7f7f7;
  border-radius: 5px;
}

.skills {
  width: 100%;
  height: 200px;
  border: 1px solid white;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  background: #f7f7f7;
  box-shadow: 0px 0 25px 5px rgba(0, 0, 0, 0.1);
  padding: 0 50px;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.skill p {
  color: #1c1c1c;
  font-size: 13px;
  opacity: 0;
  transform: translateY(-20px);
  transition:
    opacity 1s,
    transform 1s;
}

.skill:hover p {
  opacity: 1;
  transform: translateY(0);
}
