.logo {
  font-size: 28px;
}

.logo:hover {
  animation: moveLeftRight 1s linear infinite alternate;
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(3px);
  }
}
