.postList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 30px;
  justify-content: start;
  margin: 0 auto;
  padding: 100px 0;
  width: 88%;
}

.postItem {
  width: 320px;
  height: 380px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
  transition:
    box-shadow 0.25s ease-in,
    transform 0.25s ease-in;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  cursor: pointer;
}

.postItem:hover {
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
}

.image {
  width: 100%;
}

.contentWrapper {
  padding: 16px;
}

.title {
  font-size: 16px;
  word-break: break-word;
  line-height: 1.5;
  color: #212529;
  font-weight: 700;
  margin-bottom: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  height: 64px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 24px;
  color: #495057;
}

.date {
  font-size: 12px;
  line-height: 1.5;
  color: #a2aab1;
}

.footer {
  padding: 10px 16px;
  border-top: 1px solid #f1f3f5;
  display: flex;
  font-size: 0.75rem;
  line-height: 1.5;
  justify-content: space-between;
}

.footerLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footerLeft img {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.footerLeft p {
  font-weight: 600;
  font-size: 13px;
}

.footerLeft span {
  color: #a2aab1;
  font-weight: 400;
  font-size: 12px;
}

.footerRight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.footerRight svg {
  width: 12px;
  height: 12px;
}

.footerRight p {
  font-size: 12px;
  color: #495057;
  margin: 0;
}

@media screen and (max-width: 1160px) {
  .postList {
    width: 90%;
  }

  .postItem {
    width: 100%;
  }
}
