.postDetail {
  width: 60%;
  min-width: 400px;
  max-width: 1000px;
  margin: 0 auto;
}

.postHeader {
  border-bottom: 1px solid lightgray;
  padding: 20px 0 10px;
  margin-bottom: 20px;
}

.title {
  font-weight: 800;
  font-size: 34px;
  word-break: break-word;
}

.subTitle {
  display: flex;
  align-items: center;
  margin-top: 30px;
  font-size: 12px;
}

.subTitle > img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.author {
  margin-right: 15px;
  font-weight: 700;
}

.date {
  color: #757575;
}

.postContent {
  margin-top: 20px;
}
