.postDetail {
  width: 60%;
  min-width: 350px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
}

.postHeader {
  border-bottom: 1px solid lightgray;
  padding: 20px 0 10px;
  margin-bottom: 20px;
}

.title {
  font-weight: 800;
  font-size: 34px;
  word-break: break-word;
}

.subTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.subTitleLeft {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.subTitleLeft > img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.subTitleLeft > .author {
  margin-right: 15px;
  font-weight: 700;
}

.subTitleLeft > .date {
  color: #757575;
}

.subTitleRight {
  display: flex;
  align-items: center;
  gap: 20px;
}

.subTitleRight > a,
.subTitleRight > button {
  background-color: white;
  border: none;
  font-size: 11px;
  color: gray;
}

.postContentWrapper {
  word-break: break-word;
  margin-top: 20px;
}
